@import "tailwindcss";

:root {
  --verde-vidon: #177C3F;
  --verde-oscuro: #2D583F;
  --blanco-hueso: #F4F1EC;
  --negro-suave: #1D1D1D;
  --marron-claro: #A8795E;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

[id] {
  scroll-margin-top: 7rem;
}